body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: whitesmoke;
    text-align: center;
    color: #130e0f;
}

button {
    background: #11b461;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    margin: 50px;

}

p {
    margin: 10px 50px;

}

h1 {
    font-weight: 200;
    letter-spacing: 2px;
}

#container {
    width: 100%;
}

.team-img {
    width: 100px;
    border-radius: 100%;
    margin: 10px;
}